@import "tailwindcss";

input, select, textarea {
  @apply bg-black 
         text-cyan-300 
         placeholder-cyan-600 
         border border-cyan-800 
         rounded-full 
         focus:outline-none 
         focus:ring-2 
         focus:ring-cyan-500 
         focus:border-cyan-500;
}
